//.invalid-feedback{
//    opacity: 0;
//
//}
.first-input{
    flex: 1 0 auto;
}
.delete-btn{
    border-bottom-left-radius: 0;
    border-top-left-radius: 0;
}
.main-input{
    border-bottom-right-radius: 0;
    border-top-right-radius: 0;
}